*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #2c3e50, #fd746c);
  .container {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width: 650px;
    height: 450px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    .quiz {
      margin-top: 50px;
      .quiz-question {
        margin-top: -25px;
        margin-bottom: 25px;
        font-size: 2.5em;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        font-weight: 500;
        text-align: center;
      }
      .quiz-options {
        margin-left: 15px;
        height: 250px;
        input {
          margin-bottom: 25px;
        }
        label {
          margin-left: 10px;
          font-size: 1.75em;
          font-family: "Montserrat", sans-serif;
        }
        label:hover {
          cursor: pointer;
        }
      }
    }
    .submit {
      display: none;
    }
    .submit,
    .next {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.5em;
      padding: 10px 20px;
      background: transparent;
      border: 1px solid #000;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%);
    }
    .next:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
  .results {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: none;
    .outof {
      font-size: 2.75em;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      font-weight: 500;
    }
    .percentage {
      margin-top: 25%;
      font-size: 2em;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      font-weight: 300;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      transition: all 1s;
    }
  }
}
